<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="form-group" style="margin-bottom:10px;">
                    <div class="pull-left form-inline">
                        <form action="/Project-3" method="get">
                            <select class="form-control" id="CategoryId" name="CategoryId">
                                <option value="">Chọn đơn vị</option>
                                <option value="1">Feature</option>
                                <option value="2">Bug</option>
                                <option value="3">hard</option>
                            </select> &nbsp;
                            <select class="form-control" id="UserId" name="UserId">
                                <option value="">Chọn phòng ban</option>
                                <option value="0aecb611-c28d-4bc0-b6f2-e9e843fd6a69">Phòng vận hành</option>
                                <option value="5e830508-1397-427b-8b00-070cadca26a3">Phòng kinh doanh</option>
                            </select> &nbsp;
                            <a href="/Project-3/TaskItems/Index" class="btn btn-primary waves-effect">
                                <i class="zmdi zmdi-search"></i>Tìm kiếm
                            </a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
