<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Sidemenu -->
        <div id="sidebar-menu">        
            <ul>                                                  
                    <li class="no_sub">
                        <a href="@Url.Action("Index","Home")"><i class="zmdi zmdi-view-dashIndex"></i><span> Trang chủ </span> </a>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi zmdi-calendar"></i> <span> Quản lý công việc </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a>Danh sách công việc</a></li>                                                                                                                                       
                        </ul>
                    </li>
                    <li class="no_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-text"></i> <span> Báo cáo thống kê </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a>Công việc quá hạn</a></li>
                            <li><a>Các công việc chưa có kết quả </a></li>
                            <li><a>Danh sách người dùng nhóm theo đơn vị</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-collection-text"></i> <span> Quản lý hệ thống </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">                            
                            <li><a>Danh mục đơn vị</a></li>
                            <li><a>Danh mục người dùng</a></li>
                            <li><a>Danh mục nhóm công việc</a></li>
                            <li><a>Danh mục tình trạng công việc</a></li>                                                                                        
                        </ul>
                    </li>
                                  
            </ul>
            
        </div>
        <!-- Sidebar -->
    </div>

</div>
