@{
    ViewBag.Title = "Trang chủ";
    @Styles.Render("~/Content/themes/base/css")
}
<link href="~/Content/datatables.min.css" rel="stylesheet" />
@*<div class="jumbotron">
    <h1>Quản Lý Công Việc Hệ thống Quản Lý Công Việc Phiên Bản 2.1</h1>
    <h2 class="lead">Liên hệ với chúng tôi</h2>
    <p>
        VNIT-Pro
        Email: duanhquy@mail.com
    </p>
</div>*@

@*<div class="row">
    <div class="col-md-12">
        <div id="messagesTable"></div>
    </div>
</div>*@
<div class="row">    
    @Html.Partial("_Calender")
</div>

@section scriptsAdd {

    <!-- Jquery-Ui -->
    <script src="~/Content/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- BEGIN PAGE SCRIPTS -->
    <script src="~/Content/assets/plugins/fullcalendar/dist/moment.min.js"></script>
    <script src="~/Content/assets/plugins/fullcalendar/dist/fullcalendar.js"></script>    
    <script src="~/Content/assets/plugins/fullcalendar/dist/lang/vi.js"></script>
    <script src="~/Content/assets/pages/jquery.fullcalendar.js"></script>

   
}



