@{
    ViewBag.Title = "UpdateEvent";
    Layout = null;
}
<form>
    <label>Thêm lịch</label>
    <fieldset class='input-group'>
        <label for="cbonhomcv">Thuộc nhóm công việc:</label>
        <select id="cbonhomcv">
            <option>Họp định kỳ giao ban tuần</option>
            <option>Họp tổng kết</option>
        </select>
    </fieldset>
    <fieldset class='input-group'>
        <label for="txttieude">Tiêu đề:</label>
        <input  class="form-control" id="txttieude" placeholder="Xin mời nhập tiêu đề">
    </fieldset>
    <fieldset class='input-group'>
        <label for="txtnoidung">Nội dung:</label>
        <input  class="form-control" id="txtnoidung" placeholder="Xin mời nhập nội dung">
    </fieldset>
  
    <fieldset class='input-group'>
        <label for="txtngaykt">Số ngày</label>
        <input  class="form-control" id="txtsongay" placeholder="Kết thúc">
    </fieldset>
    <fieldset class='input-group'>
        <label for="txtlienquan">Các bên liên quan:</label>
        <input  class="form-control" id="txtlienquan" placeholder="Liên quan">
    </fieldset>       
    
</form>